body{
  background-color: #FFCACA;
  margin: 0px;
  font-family: sans-serif;
}
  .hr1{
    border-style: groove;
    border-color: black;
    border-width: 2px;
    height: 0;
    width:80%;
  }
.top-container{
  position: relative;
  background-color: #CDFCF6;
  padding-top: 100px;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloub{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
h1{
  margin-top:auto;
  font-family: 'Mitr',sans-serif;
  font-size: 90px;
}
.bg-color{
 background-color: #FF9494;
 width: 750;
 height: 400;
 padding: 10px;
 margin: auto;
 border-radius: 30px;
}
#font-notosansTH {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 2.5rem;
}

.profile-img{
  width: 20%;
  margin-top: 100px;
}

.profile{
  padding:50px;
  margin: auto;
}

.pad{
  padding-left: 20px;
}
